.hide {
  display: none;
}

.unhide {
  display: block;
}

.btn {
  display: block;
  font-size: 0.8rem;
  width: 10rem;
  margin: 1rem auto;
  padding: 0.5rem;
  background-color: #1199c3;
  border: none;
  color: white;
  box-shadow: 0.25rem 0.25rem 0.25rem #073d4e;
  transition: 0.2s all;
}

.btn:hover {
  box-shadow: none;
  transition: 0.2s all;
}

#header,
#workExperience,
#projects,
#education,
#mapDiv {
  padding: 2rem 0;
}

#topContacts {
  padding: 1rem 0;
}

#topContacts a {
  color: white;
  margin-top: 0;
  display: inline;
}

.biopic {
  padding: 1rem 2rem;
}

span.welcome-message {
  display: inline-block;
  max-width: 40rem;
}

#workExperience>h2,
#projects>h2,
#education>h2,
#mapDiv>h2 {
  text-align: center;
}

.work-entry,
.project-entry,
.education-entry {
  padding-bottom: 1rem;
}

.work-entry>a,
.project-entry>a,
.education-entry>a {
  font-size: 1.2rem;
  line-height: 2rem;
}

.project-entry img {
  max-width: 100%;
  margin: 1rem 0;
  padding: 0;
}

#mapDiv {
  padding-bottom: 5rem;
}

@media screen and (min-width: 500px) {
  .project-entry img {
    width: 40%;
    padding: 0 5%;
  }
}
