.hide {
  display: none;
}

.unhide {
  display: block;
}

.btn {
  display: block;
  width: 10rem;
  margin: 1rem auto;
  padding: 0.5rem;
}

#header,
#workExperience {
  padding: 2rem 0;
}

#topContacts {
  padding: 1rem 0;
}

.biopic {
  padding: 1rem 2rem;
}

span.welcome-message {
  display: inline-block;
  max-width: 40rem;
}

#workExperience>h2 {
  text-align: center;
}

.work-entry {
  padding-bottom: 1rem;
}

.work-entry>a {
  font-size: 1.2rem;
  line-height: 2rem;
}
